table {
  width: 100%;
  border-spacing: 5px;
}

td {
  border: 1px solid #dddddd;
  padding: 10px;
  background: #efefef;
  border-radius: 2px;
}

td:not(:first-child) {
  text-align: right;
  padding-right: 30px;
}

.price {
  padding-right: 30px;
}

th {
  font-weight: normal;
  padding: 10px;
  background: #efefef;
  border: 1px solid #dddddd;
  border-radius: 2px;
}

.red {
  background: #fee6e6;
}

.green {
  background: #ecf7e7;
}

.percent {
  color: #05a315;
  font-weight: 700;
}

td:hover {
  cursor: pointer;
  background: #f5f5f5;
}

tr > th:nth-child(2),
tr > td:nth-child(2) {
  background: #edf8ff;
}

tr:hover td {
  background: #dfdddd;
}

.green .green {
  color: #05a315;
  background: inherit;
}

.red .red {
  color: #fd3c0c;
  background: inherit;
}

.chart {
  background: white;
  border: none;
  cursor: none;
}

.chart:hover {
  background: white;
  border: none;
}
